:root {
  --background-color: #11191f;
  --color: #ffffff;
  --h1-color: #00b478;
  --h2-color: #00b478;
  --h3-color: #00b478;
  --h4-color: #00b478;
  --h5-color: #00b478;
  --h6-color: #00b478;
  --muted-color: hsl(205, 10%, 50%);
  --muted-border-color: #1f2d38;
  --primary: var(--pico-primary);
  --primary-hover: var(--pico-primary-hover);
  --primary-focus: rgba(16, 149, 193, 0.25);
  --primary-inverse: #fff;
  --secondary: hsl(205, 15%, 41%);
  --secondary-hover: hsl(205, 10%, 50%);
  --secondary-focus: rgba(115, 130, 140, 0.25);
  --secondary-inverse: #fff;
  --contrast: hsl(205, 20%, 94%);
  --contrast-hover: #fff;
  --contrast-focus: rgba(115, 130, 140, 0.25);
  --contrast-inverse: #000;
  --mark-background-color: #d1c284;
  --mark-color: #11191f;
  --ins-color: #388e3c;
  --del-color: #c62828;
  --blockquote-border-color: var(--muted-border-color);
  --blockquote-footer-color: var(--muted-color);
  --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --form-element-background-color: #11191f;
  --form-element-border-color: #374956;
  --form-element-color: var(--color);
  --form-element-placeholder-color: var(--muted-color);
  --form-element-active-background-color: var(--form-element-background-color);
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --form-element-disabled-background-color: hsl(205, 25%, 23%);
  --form-element-disabled-border-color: hsl(205, 20%, 32%);
  --form-element-disabled-opacity: 0.5;
  --form-element-invalid-border-color: #b71c1c;
  --form-element-invalid-active-border-color: #c62828;
  --form-element-invalid-focus-color: rgba(198, 40, 40, 0.25);
  --form-element-valid-border-color: #2e7d32;
  --form-element-valid-active-border-color: #388e3c;
  --form-element-valid-focus-color: rgba(56, 142, 60, 0.25);
  --switch-background-color: #374956;
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --pico-text-selection-color: rgba(0, 180, 120, 0.1875);
  --pico-primary: #00b478;
  --pico-primary-background: #007a50;
  --pico-primary-underline: rgba(0, 180, 120, 0.5);
  --pico-primary-hover: #00cc88;
  --pico-primary-hover-background: #00895a;
  --pico-primary-focus: rgba(0, 180, 120, 0.25);
  --pico-primary-inverse: #fff;
  --typography-spacing-vertical: 0rem;
  --block-spacing-vertical: 1rem;
}

body {
  height: 100vh;
}

body > main {
  min-height: calc(100vh - 3.5rem);
}

body > footer {
  bottom: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  body > footer,
  body > header,
  body > main,
  section {
    --block-spacing-vertical: var(--spacing);
  }
}

h2 {
  --typography-spacing-vertical: 1rem;
}

input[type='submit'] {
  margin-top: 1rem;
}

button[type='submit'] {
  margin-top: 1rem;
}

p {
  width: max-content;
}

dd {
  margin-inline-start: 1rem;
}

.center {
  display: grid;
  place-items: center;
}

.flex-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

span.error {
  color: var(--del-color);
}
